body div {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

body div p {
    margin: 0;
}


li {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

li span {
    width: 200px;
}